body {
  display: block;
  background-color: #4c566a;
}

h1 {
  color: #b48ead;
  font-size: 30px
}

h2 {
  color: #5e81ac;
  font-size: 30px
}

h3 {
  color: #81a1c1;
  font-size: 22px
}

p {
  color: #ded6d8;
  font-size: 18px
}